{{#if template}}
  {{yield}}
{{else}}
  <div {{bind-attr class=":alert flash.flashType"}}>
    <button type="button" class="close" data-dismiss="alert">×</button>
      {{flash.message}}
  </div>
{{/if}}
